@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
:root {
    --mainBlue: #3DA8C0;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0px;
}

:lang(en) body {
    direction: ltr;
    font-family: 'roboto', sans-serif;
}

:lang(ar) body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.nav-item {
    font-size: 14px;
    font-weight: 600;
}

.nav-item:hover {
    background-color: var(--mainBlue);
}

.nav-link:hover {
    color: var(--white) !important;
}

.message {
    position: fixed;
    right: 100px;
    bottom: 100px;
}

.footer {
    background-color: var(--mainBlue);
}

.footer-section-heading {
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer-section-item, .footer-item {
    display: block;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.footer-section-item:hover {
    color: var(--black) !important;
    text-decoration: none;
}