@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
:root {
    --mainBlue: #3DA8C0;
    --white: #ffffff;
    --black: #000000;
    --backColor: #F4F6F9;
    --greyColor: gainsboro;
}

* {
    margin: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--backColor);
}

:lang(en) body {
    direction: ltr;
    font-family: 'roboto', sans-serif;
}

:lang(ar) body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.nav-item {
    font-size: 14px;
    font-weight: 600;
}

.nav-item:hover {
    background-color: var(--mainBlue);
}

.nav-link:hover {
    color: var(--white) !important;
}

.navbar {
    background-color: var(--white) !important;
    animation: FlyIn 1s;
}

@keyframes FlyIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.banner {
    background-color: var(--mainBlue);
}

.banner-container {
    animation-name: FlyIn;
    animation-duration: 1.5s;
}

.banner-heading {
    color: var(--white);
    font-size: 24px;
}

hr.banner-line {
    border: 2px solid var(--white);
    display: inline-block;
    width: 100px;
}

select {
    font-size: 14px !important;
}

.sidebar-head {
    background-color: var(--mainBlue);
}

.sidebar-clear-btn {
    background-color: #3DA8C0;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.sidebar-clear-btn:hover {
    color: #000000;
}

.checked, .checked:hover, .unchecked:hover {
    color: orange;
}

.unchecked {
    color: #000000;
}

.badge {
    background-color: gainsboro;
    color: black;
    font-size: 12px;
}

.badge:hover {
    background-color: silver;
    cursor: pointer;
}

.card-body {
    color: #3DA8C0;
    font-size: 15px !important;
    font-weight: bold;
}

.card-body p {
    color: #3DA8C0;
    font-size: 14px;
}

.card-body a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.card-btn:hover {
    background-color: turquoise !important;
    cursor: pointer;
}

.card-footer {
    font-size: 16px;
}

.banner-card {
    background-color: var(--mainBlue);
    min-height: 447;
}

.banner-button {
    background-color: #F4794C;
    border-radius: 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.banner-button:hover {
    color: #F4794C;
    background-color: var(--white);
}

.fa-search:hover {
    color: var(--mainBlue);
}

.input-group-text:hover {
    background-color: var(--white);
}

.message {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 50;
}

@media only screen and (min-width:768px) {
    .chat {
        padding: 20px;
        position: fixed;
        right: 100px;
        bottom: 160px;
        width: 30vw;
        height: 65vh;
        border-radius: 15px;
        background: linear-gradient(180deg, var(--mainBlue) 50%, var(--white) 50%);
        background-attachment: fixed;
        z-index: 10;
        display: none;
        color: white;
        animation-name: FloatIn;
        animation-duration: 1s;
    }
    .chat-body {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white) !important;
        width: 90%;
        height: 200px;
        border-radius: 10px;
        box-shadow: 3px 3px turquoise;
        padding: 25px;
    }
    .chat-subtitle {
        opacity: 0.65;
        font-size: 14px;
    }
    .chat-btn {
        background-color: #ffffff;
        border: 2px solid var(--mainBlue);
        border-radius: 50px;
        color: var(--mainBlue);
        margin: 0px;
        padding: 12px 16px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media only screen and (max-width:768px) {
    .chat {
        padding: 20px;
        position: fixed;
        right: 100px;
        bottom: 160px;
        width: 60vw;
        height: 70vh;
        border-radius: 15px;
        background: linear-gradient(180deg, var(--mainBlue) 50%, var(--white) 50%);
        background-attachment: fixed;
        z-index: 10;
        display: none;
        color: white;
        animation-name: FloatIn;
        animation-duration: 1s;
    }
    .chat-body {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white) !important;
        width: 90%;
        height: 200px;
        border-radius: 10px;
        box-shadow: 3px 3px turquoise;
        padding: 25px;
    }
    .chat-subtitle {
        opacity: 0.65;
        font-size: 14px;
    }
    .chat-btn {
        background-color: #ffffff;
        border: 2px solid var(--mainBlue);
        border-radius: 50px;
        color: var(--mainBlue);
        padding: 12px 16px;
        font-size: 14px;
        cursor: pointer;
    }
}

.banner-btn {
    border: 2px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 12px 13px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.33;
}

.horizontal {
    display: inline-block;
    height: 2px;
    background-color: var(--white);
    width: 50px;
    position: relative;
    top: 10px;
}

.chat-btn:hover {
    background-color: var(--mainBlue);
    color: var(--white);
}

.banner-btn:hover {
    background-color: var(--mainBlue);
    color: var(--white);
    border-color: var(--white);
    position: relative;
}

@keyframes FloatIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    background-color: var(--mainBlue);
}

.footer-section-heading {
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer-section-item, .footer-item {
    display: block;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.footer-section-item:hover {
    color: var(--black) !important;
    text-decoration: none;
}